*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

:root{
  --color-primary: #2196F3;
  --color-primary-light: #BBDEFB;
  --color-primary-dark: #1976D2;
  --color-accent: #03A9F4;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BBDEFB;
}

.alert{
  display: inline-block;
  position: absolute;
  top: 5rem;
  left: 2rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 300;
  border-radius: .5rem ;
  margin: 2rem 0;
}

.error{

  color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.success{

  color: #3c763d;
    background-color: #caf1ba;
    border: 1px solid #d6e9c6
}


/*------------------form------------------------------*/


.task-form{
  font-size: 1.4rem;
  margin: 2rem auto;
  display: block;
  width: 70rem;
}
.form-container{
  display: flex;
  align-items: center;
}
.form-group{
 display: flex;
 align-items: center;
 margin-right: 4rem;
}
.form__radio-input{
 opacity: 0;
}
.form__radio-label{
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
}
.form__radio-button{
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  left: -3rem;
  top: -.475rem;
  transition: .3s linear;
}

.form__radio-button::after{
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1.1rem;
  width: 1.1rem;
  transform: translate(-50%,-50%);
  background-color: var(--color-primary);
  opacity: 0;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after{
  opacity: 1;
}

/*----------------------------------------login/signup-------------------------*/
.form{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

.form>input{
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.form>input, .form>button{
  width: 50%;
  margin: 2rem auto;
  font-size: 1.5rem;
}

.form>button.small{
  width: auto;
  margin: 0 auto;
  
}

.form .form-group>input{
  margin: 2rem 0;
 
  margin-left: 45%;
}

.form .form-group>label{
  font-size: 2rem;
  margin-left: 2rem;
}

.form .form-group~.small{
  margin-top: 5rem;
}
/*------------------Tasks------------------------------*/

.task__box-flexContainer{
  display: flex;
  flex-wrap: wrap;
}

.task__box{
  display: flex;
  padding: 2rem;
  margin: 2rem 2rem;
  background-color: #fff;
  flex-basis: 45rem;
  flex-direction: column;
  word-spacing: .2rem;
  letter-spacing: .1rem;
  box-shadow: 0 .25rem .5rem rgba(3, 3, 3, 0.204);
}

.task__box-description{
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 300;
}
.task__box-description::after{
  content: '';
  display: block;
  margin-top: 2rem;
  border-bottom: 1px solid #ccc;
}

.task__box-down{
  display: flex;
  align-items: center;
}

.task__box-status{
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin-right: auto;
}

.task__box-status-completed{
  text-transform: none;
}

.task__box-button{
  display: inline-block;
  margin-right: 2rem;
  padding: .5rem 1.5rem;
  border: 2px solid black;
  transition: all .2s;
  cursor: pointer;
}

.task__box-button:link,
.task__box-button:visited{
  text-decoration: none;
  color: black;
}

.task__box-button:hover,
.task__box-button:active
{
  background-color: black;
  color: #fff;
}

/*------------------Navbar------------------------------*/

.navbar{

  background-color: #2196F3;
  font-size: 2.2rem;
  border-bottom: .5px solid rgba(3, 3, 3, 0.122);;
}

.navbar__ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__li-item{
 
  padding: 1.2rem 2rem;
  margin: 0 2rem;
}
.navbar__li-item-heading{
 font-size: 2.5rem;
} 

.navbar__li-item:hover{
 background-color: rgba(26, 144, 241, 0.898);
}

.navbar__li-item:active{
  background-color: rgb(22, 133, 223);
 }

.item-left{
  margin-right: auto;
}

.navbar__li-link{
 color: blanchedalmond;
 text-decoration: none;
}


footer{
  display: none;
  opacity: 0;
}

/*-------------------------user profile---------------------------------------*/

.profile{
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;  
} 

.user-profile{
  display: flex;
  width: 30vw;
  margin: 2rem auto;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
}

.user-profile-title{
  margin: 1rem auto;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}

.detailedProfile{
  border-radius: 1rem;
  height: 10rem;
  width: 10rem;
}

.user-profile-info{
  display: flex;
  margin-bottom: 2rem;
}

.user-profile-image{
  margin-left: 2rem;
}

.user-profile-description{
  margin-left: 4rem;
  padding: 1rem;
  padding-top: .1rem;
}

.user-desc{
  display: flex;
  margin: 1rem 0;
  font-size: 1.6rem;
}

.user-desc-head{
  font-weight: 600;
}

.user-profile-links{
  display: flex;
  margin: 2rem 0;
  justify-content: space-evenly;
}



/*****************************************extras******************************************/


.bb{
 border: .5px solid #ccc;
 width: 80%;
 margin: 0 auto;
}

.align-form-link{
  margin-left: 25%;
}