{{>header}}

<form action="/users/changePassword?_method=PUT" method="POST">
  <label for="currentPassword"> Plz enter your current password </label>
  <input type="password" name="currentPassword" id="currentPassword" placeholder="Current Password">
  
  {{#if errors}}
  {{getError errors 'currentPassword'}}
  {{/if}}

  <label for="newPassword">New password</label>
  <input type="password" name="newPassword" id="newPassword" placeholder="New Password">

  {{#if errors}}
  {{getError errors 'newPassword'}}
  {{/if}}
  <button>submit</button>
</form>

{{>footer}}