{{>header}}

<form action="/tasks/{{_id}}?_method=PUT" class="form" method="POST"> 
 <textarea type="text" name="description" placeholder="Enter your task" class="create__task-input">{{description}}</textarea>
 <div class="form-group">
   <input type="checkbox" name="completed"  id="completed" {{completed}}> <label for="completed">Completed</label>
 </div>



<button class="small task__box-button">submit</button>
</form>
 {{>footer}}