{{>header}}

<form method="POST" action="/tasks" class="form"> 
 <textarea type="text" name="description" placeholder="Enter your task" class="create__task-input"></textarea>
 <div class="form-group">
  <input  type="checkbox" name="completed" id="completed" placeholder="completed"> <label for="completed">Completed</label>
 </div>
 

 <button class="small task__box-button">submit</button>
</form>
 {{>footer}}